.page-item {
  .page-link {
    color: color(primary);
  }
  &.active .page-link {
    background-color: color(primary);
    border-color: color(primary);
  }
  &.disabled .page-link {
    border-color: #f2f2f2;
  }
}

.page-link {
  border-color: #f2f2f2;
  &:focus {
    box-shadow: none;
  }
}
